<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.lesson04.dao.SellerDAO">
	<insert id="insertSeller" parameterType="map">
		INSERT INTO `seller`
		(
			`nickname`
			,`profileImageUrl`
			,`temparature`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{nickname}
			,#{profileImageUrl}
			,#{temparature}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="getLastSeller" resultType="com.quiz.lesson04.model.Seller">
		SELECT
			`id`
			,`nickname`
			,`profileImageUrl`
			,`temparature`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		<choose>
			<when test="id==null">
				ORDER BY `id` DESC
				LIMIT 1
			</when>
			<when test="id!=null">
				WHERE
					`id`=#{id}
			</when>
		</choose>
		
	</select>
	


</mapper>