<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson06.dao.UrlGroupDAO">
 	<select id="selectUrlGroup" resultType="com.quiz.lesson06.model.UrlGroup">
 		SELECT
 			`id`
 			,`name`
 			,`url`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`urlgroup`
 	</select>
 	
 	<insert id="addUrl" parameterType="map">
 		INSERT INTO `urlgroup`
 			(
 			`name`
 			,`url`
 			,`createdAt`
 			,`updatedAt`
 			)
 		VALUES
 			(
 			#{name}
 			,#{url}
 			,NOW()
 			,NOW()
 			)
 	</insert>
 
 	<select id="existUrlGroupByName" resultType="boolean">
 		SELECT
			count(1)
		FROM
			`urlgroup`
		WHERE
			`url` = #{urlCheck}
 	</select>
 	<delete id="urlGroupDAOById">
 		DELETE
 		FROM
 			`urlgroup`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>